body{
    background-color:slategray ;
}
p{
    font-size:15px;
    line-height:20px;
    color:beige;
    font-family:'Times New Roman', Times, serif;

}
h1{
    font-size:20px;
    color:beige;
    font-weight:bold;
    text-decoration:underline;
}
h2{
    font-size:18px;
    color:beige;
    font-weight:bold;
    text-decoration:underline
}
#felsokep{
    border:2px solid black;
    height:200px;
    width:200px;
    float:right;
}
    

#alsokep{
    border:2px solid black;
    height:250px;
    width:200px;
    float:right;
}
#pingv{
    margin:auto;
    width:50%;
    padding:5px;
    
}
table,td,th{
    width:250px;
    text-align:center;
    border:1px solid beige;
    border-collapse:collapse;
    color:beige;
}
a{
    color:beige;
}
#focim{
    text-align:center;
    font-size:25px;
    font-weight:bold;
    color:beige;
}
#elterjedes{
    float:right;
}
#lista{
    color:beige;
}